
.div-login{
    top: 30%;
    left: 40%;
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 4px;
    border-color: cadetblue;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
